In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Abhineet').getOrCreate()

23/09/22 11:33:21 WARN Utils: Your hostname, abhineet resolves to a loopback address: 127.0.1.1; using 192.168.1.11 instead (on interface wlp3s0)
23/09/22 11:33:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/22 11:33:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_pyspark = spark.read.csv('Book1.csv', header = True, inferSchema = True)
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|Abhineet|  24|         2| 45000|
|  Rounak|  26|         2| 45000|
|   Isita|  22|         2| 45000|
|   Kirti|  26|         2| 50000|
|   Ayush|  29|         8|150000|
|    Amit|  30|        12|140000|
|    Ravi|null|      null|100000|
|    null|  12|         0|     0|
|    null|  14|      null|  null|
+--------+----+----------+------+

Filter operation

In [4]:
#filter salary of the people less than or equal to 50000
df_pyspark.filter('Salary<=50000').show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Abhineet| 24|         2| 45000|
|  Rounak| 26|         2| 45000|
|   Isita| 22|         2| 45000|
|   Kirti| 26|         2| 50000|
|    null| 12|         0|     0|
+--------+---+----------+------+

In [6]:
df_pyspark.filter('Salary<=50000').select(['Name','Age','Experience']).show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Abhineet| 24|         2|
|  Rounak| 26|         2|
|   Isita| 22|         2|
|   Kirti| 26|         2|
|    null| 12|         0|
+--------+---+----------+

In [9]:
df_pyspark.filter((df_pyspark['Salary']<=50000) & (df_pyspark['Age']>20)).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Abhineet| 24|         2| 45000|
|  Rounak| 26|         2| 45000|
|   Isita| 22|         2| 45000|
|   Kirti| 26|         2| 50000|
+--------+---+----------+------+

In [10]:
df_pyspark.filter(~(df_pyspark['Salary']<=50000)).select(['Name','Age','Experience']).show()

+-----+----+----------+
| Name| Age|Experience|
+-----+----+----------+
|Ayush|  29|         8|
| Amit|  30|        12|
| Ravi|null|      null|
+-----+----+----------+