In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Abhineet').getOrCreate()

23/09/22 11:55:47 WARN Utils: Your hostname, abhineet resolves to a loopback address: 127.0.1.1; using 192.168.1.11 instead (on interface wlp3s0)
23/09/22 11:55:47 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/22 11:55:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/09/22 11:55:48 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
df_pyspark = spark.read.csv('department.csv', header=True, inferSchema=True)
df_pyspark.show()

+------------+-----------+------+
|        Name|Departments|Salary|
+------------+-----------+------+
|    Abhineet|        CSE| 45000|
|     Anubhav|        CSE| 40000|
|      Shreya|        ECE| 21000|
|     Brishti|         IT| 25000|
|Shivam Singh|      CIVIL| 15000|
|       Bipin|         EE| 20000|
|      Pratim|        ECE| 45000|
|     Aanchal|        CSE| 60000|
|     Brijesh|         IT|     0|
+------------+-----------+------+

In [10]:
# groupBy operation
df_pyspark.groupBy('Departments').sum().show()

+-----------+-----------+
|Departments|sum(Salary)|
+-----------+-----------+
|         EE|      20000|
|        ECE|      66000|
|      CIVIL|      15000|
|         IT|      25000|
|        CSE|     145000|
+-----------+-----------+

In [11]:
df_pyspark.groupBy('Departments').mean().show()

+-----------+------------------+
|Departments|       avg(Salary)|
+-----------+------------------+
|         EE|           20000.0|
|        ECE|           33000.0|
|      CIVIL|           15000.0|
|         IT|           12500.0|
|        CSE|48333.333333333336|
+-----------+------------------+

In [12]:
df_pyspark.groupBy('Departments').count().show()

+-----------+-----+
|Departments|count|
+-----------+-----+
|         EE|    1|
|        ECE|    2|
|      CIVIL|    1|
|         IT|    2|
|        CSE|    3|
+-----------+-----+

In [15]:
df_pyspark.groupBy('Departments').max().show()

+-----------+-----------+
|Departments|max(Salary)|
+-----------+-----------+
|         EE|      20000|
|        ECE|      45000|
|      CIVIL|      15000|
|         IT|      25000|
|        CSE|      60000|
+-----------+-----------+

In [16]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     271000|
+-----------+