In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Abhineet').getOrCreate()

23/09/21 11:08:07 WARN Utils: Your hostname, abhineet resolves to a loopback address: 127.0.1.1; using 192.168.1.11 instead (on interface wlp3s0)
23/09/21 11:08:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/21 11:08:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_pySpark = spark.read.csv('Book1.csv',header=True, inferSchema=True)

In [4]:
df_pySpark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|Abhineet|  24|         2| 45000|
|  Rounak|  26|         2| 45000|
|   Isita|  22|         2| 45000|
|   Kirti|  26|         2| 50000|
|   Ayush|  29|         8|150000|
|    Amit|  30|        12|140000|
|    Ravi|null|      null|100000|
|    null|  12|         0|     0|
|    null|  14|      null|  null|
+--------+----+----------+------+

In [5]:
df_pySpark.na.drop().show()
# na.drop() will drop rows which contains null or NA value

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Abhineet| 24|         2| 45000|
|  Rounak| 26|         2| 45000|
|   Isita| 22|         2| 45000|
|   Kirti| 26|         2| 50000|
|   Ayush| 29|         8|150000|
|    Amit| 30|        12|140000|
+--------+---+----------+------+

In [6]:
df_pySpark.na.drop(how = "any").show()
# how = any will remove all rows which contains any number of NULL value
# how = all will remove all rows for which all values are null

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Abhineet| 24|         2| 45000|
|  Rounak| 26|         2| 45000|
|   Isita| 22|         2| 45000|
|   Kirti| 26|         2| 50000|
|   Ayush| 29|         8|150000|
|    Amit| 30|        12|140000|
+--------+---+----------+------+

In [7]:
# threshold
df_pySpark.na.drop(how = "any", thresh= 3).show()
# thresh will check for the count of non-null value and will remove all those rows

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Abhineet| 24|         2| 45000|
|  Rounak| 26|         2| 45000|
|   Isita| 22|         2| 45000|
|   Kirti| 26|         2| 50000|
|   Ayush| 29|         8|150000|
|    Amit| 30|        12|140000|
|    null| 12|         0|     0|
+--------+---+----------+------+

In [8]:
# subset
df_pySpark.na.drop(how="any",subset = ['Experience']).show()
# subset will check the value in individual coloumn

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Abhineet| 24|         2| 45000|
|  Rounak| 26|         2| 45000|
|   Isita| 22|         2| 45000|
|   Kirti| 26|         2| 50000|
|   Ayush| 29|         8|150000|
|    Amit| 30|        12|140000|
|    null| 12|         0|     0|
+--------+---+----------+------+

In [12]:
# filling the missing values
df_pySpark.na.fill('Missing value').show()

+-------------+----+----------+------+
|         Name| Age|Experience|Salary|
+-------------+----+----------+------+
|     Abhineet|  24|         2| 45000|
|       Rounak|  26|         2| 45000|
|        Isita|  22|         2| 45000|
|        Kirti|  26|         2| 50000|
|        Ayush|  29|         8|150000|
|         Amit|  30|        12|140000|
|         Ravi|null|      null|100000|
|Missing value|  12|         0|     0|
|Missing value|  14|      null|  null|
+-------------+----+----------+------+

In [13]:
df_pySpark.na.fill(0).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Abhineet| 24|         2| 45000|
|  Rounak| 26|         2| 45000|
|   Isita| 22|         2| 45000|
|   Kirti| 26|         2| 50000|
|   Ayush| 29|         8|150000|
|    Amit| 30|        12|140000|
|    Ravi|  0|         0|100000|
|    null| 12|         0|     0|
|    null| 14|         0|     0|
+--------+---+----------+------+

In [15]:
df_pySpark.na.fill(0,['Experience','Age','Salary']).show()
# it will fill the values in speific row

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Abhineet| 24|         2| 45000|
|  Rounak| 26|         2| 45000|
|   Isita| 22|         2| 45000|
|   Kirti| 26|         2| 50000|
|   Ayush| 29|         8|150000|
|    Amit| 30|        12|140000|
|    Ravi|  0|         0|100000|
|    null| 12|         0|     0|
|    null| 14|         0|     0|
+--------+---+----------+------+

In [19]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
).setStrategy('mean')

# in this section, new cols have been made from inputCols as OutputCols and in outputCols null value is filled with mean strategy

In [20]:
imputer.fit(df_pySpark).transform(df_pySpark).show()
# Here imputer variable have been fitted in df_pySpark

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|Abhineet|  24|         2| 45000|         24|                 2|         45000|
|  Rounak|  26|         2| 45000|         26|                 2|         45000|
|   Isita|  22|         2| 45000|         22|                 2|         45000|
|   Kirti|  26|         2| 50000|         26|                 2|         50000|
|   Ayush|  29|         8|150000|         29|                 8|        150000|
|    Amit|  30|        12|140000|         30|                12|        140000|
|    Ravi|null|      null|100000|         22|                 4|        100000|
|    null|  12|         0|     0|         12|                 0|             0|
|    null|  14|      null|  null|         14|                 4|         71875|
+--------+----+----------+------+-----------+------------------+--------------+