In [2]:
import pandas

In [3]:
pandas.read_csv("Book1.csv")

       Name  Age
0  Abhineet   24
1    Rounak   26

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Abhineet").getOrCreate() # it will create spark session

23/09/21 10:10:49 WARN Utils: Your hostname, abhineet resolves to a loopback address: 127.0.1.1; using 192.168.1.11 instead (on interface wlp3s0)
23/09/21 10:10:49 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/21 10:10:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df_pyspark = spark.read.csv("Book1.csv") 
df_pyspark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|Age|
|Abhineet| 24|
|  Rounak| 26|
+--------+---+

In [6]:
df_pyspark = spark.read.option('header','true').csv("Book1.csv", inferSchema=True) 
df_pyspark.show()

+--------+---+
|    Name|Age|
+--------+---+
|Abhineet| 24|
|  Rounak| 26|
+--------+---+

In [7]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [9]:
print(df_pyspark.columns)

['Name', 'Age']

In [10]:
print(df_pyspark.select('Name').show())

+--------+
|    Name|
+--------+
|Abhineet|
|  Rounak|
+--------+

None

In [11]:
df_pyspark.select(['Name','Age']).show()

+--------+---+
|    Name|Age|
+--------+---+
|Abhineet| 24|
|  Rounak| 26|
+--------+---+

In [12]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int')]

In [13]:
df_pyspark.describe().show()

+-------+--------+------------------+
|summary|    Name|               Age|
+-------+--------+------------------+
|  count|       2|                 2|
|   mean|    null|              25.0|
| stddev|    null|1.4142135623730951|
|    min|Abhineet|                24|
|    max|  Rounak|                26|
+-------+--------+------------------+

In [14]:
df_pyspark = df_pyspark.withColumn('Experience', df_pyspark['Age']-10)

In [15]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Abhineet| 24|        14|
|  Rounak| 26|        16|
+--------+---+----------+

In [18]:
# drop the coloumn
df_pyspark = df_pyspark.drop('Experience')

In [19]:
df_pyspark.show()

+--------+---+
|    Name|Age|
+--------+---+
|Abhineet| 24|
|  Rounak| 26|
+--------+---+

In [21]:
# renaming coloumn
df_pyspark.withColumnRenamed("Age","Experience").show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|Abhineet|        24|
|  Rounak|        26|
+--------+----------+