In [2]:
import pandas

In [3]:
pandas.read_csv("Book1.csv")

       Name  Age
0  Abhineet   24
1    Rounak   26

In [5]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName("Abhineet").getOrCreate() # it will create spark session

In [9]:
df_pyspark = spark.read.csv("Book1.csv") 
df_pyspark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|Age|
|Abhineet| 24|
|  Rounak| 26|
+--------+---+

In [10]:
df_pyspark = spark.read.option('header','true').csv("Book1.csv", inferSchema=True) 
df_pyspark.show()

+--------+---+
|    Name|Age|
+--------+---+
|Abhineet| 24|
|  Rounak| 26|
+--------+---+

In [11]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [12]:
print(df_pyspark.columns)

['Name', 'Age']

In [13]:
print(df_pyspark.select('Name').show())

+--------+
|    Name|
+--------+
|Abhineet|
|  Rounak|
+--------+

None

In [14]:
df_pyspark.select(['Name','Age']).show()

+--------+---+
|    Name|Age|
+--------+---+
|Abhineet| 24|
|  Rounak| 26|
+--------+---+

In [15]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int')]

In [16]:
df_pyspark.describe().show()

+-------+--------+------------------+
|summary|    Name|               Age|
+-------+--------+------------------+
|  count|       2|                 2|
|   mean|    null|              25.0|
| stddev|    null|1.4142135623730951|
|    min|Abhineet|                24|
|    max|  Rounak|                26|
+-------+--------+------------------+

In [19]:
df_pyspark = df_pyspark.withColumn('Experience', df_pyspark[1])

In [20]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Abhineet| 24|        24|
|  Rounak| 26|        26|
+--------+---+----------+